.orders-page {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;
  }

  &__title {
    margin: 0;

    font-size: 28px;
    font-weight: 600;
    color: #37474f;
  }
}
