.app-layout {
  min-height: 100vh;

  background: #f5f7f9;

  &__content {
    min-height: 100vh;

    margin-left: 220px;
    padding: 120px 40px 40px;
  }

  @media (max-width: 1023px) {
    &__content {
      width: 100%;
      margin-left: 0;
      padding: 88px 20px 20px;
    }
  }

  @media (max-width: 560px) {
    &__content {
      padding: 80px 14px 14px;
    }
  }
}
